<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express & Node</title>
    <link rel="stylesheet" href="../bootstrap3/dist/css/bootstrap.min.css">
</head>
<body class="bg-info">
    <div class="container">
            <div style="background-color:#fff;padding-top:20px;margin:20px">
                {{{body}}}
            </div>
        </div>
    </div>
</body>
</html>